* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
}

body {
  background: var(--gray);
}

:root {
  --secondary: #f2726f;
  --neutral: #ffffff;
  --primary: #5d62b5;
  --gray: #f5f5f5;
  --black: #000000;
}

.hero-section {
  background-image: url("../images/duotone.png");
  background-position: center;
  background-size: cover;
  height: 800px;
}

.container {
  width: 1000px;
  margin: auto;
}

.site-header {
  width: 100%;
  top: 25px;
  position: fixed;
  z-index: 1;
}

.site-header__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.logo__item {
  margin-left: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info__item {
  display: flex;
  align-items: flex-start;
  margin-left: 32px;
  height: 40px;
}

.info__text {
  margin-left: 10px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: var(--neutral);
}

.info__header {
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  border-radius: 8px;
  padding: 9px 36px;
  color: var(--neutral);
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  background-color: var(--secondary);
  border: none;
  outline: none;
  height: 40px;
}

.navbar {
  width: 100%;
  margin-top: 28px;
}

.navbar-panel {
  background: var(--neutral);
  border-radius: 10px;
  padding: 10px 40px;
  display: flex;
}

.nav-panel__list {
  display: flex;
  justify-content: space-between;
}

.nav-panel__item {
  margin-right: 37px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black);
  height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--black);
}

.nav-panel__item-icon {
  margin: 5px;
}

.container__info-items {
  padding-top: 280px;
}

.container__item-headline {
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: var(--neutral);
  margin-bottom: 48px;
}

.hero-section__info {
  padding-top: 110px;
}

.container__popup-block {
  background: var(--primary);
  border-radius: 40px;
  height: 700px;
  margin-top: -180px;
  padding: 100px 87px;
  color: var(--gray);
  margin-bottom: 210px;
}

.subtitle {
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}


.subtitle__icon {
  margin-right: 18px;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 36px;
}

.popup-block__title {
  color: var(--neutral);
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.popup-image {
  width: 100%;
  margin-top: 54px;
  box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2),
    0px 8px 16px rgba(38, 38, 38, 0.24);
  border-radius: 40px;
}
.hero-section__promises {
  color: var(--black);
}
.hero-section__promise .subtitle {
  color: var(--primary);
}

.promises {
  margin: 68px 0px 121px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.column {
  display: flex;
}
.column__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: var(--secondary);
  margin-bottom: 20px;
}

.icon {
  width: 63px;
  height: 63px;
}

.column .icon{
  margin-right: 26px;
}

.hero-main {
  background: #29c3be;
  height: 500px;
}

.dog-boarding {
  display: flex;
  color: var(--neutral);
}

.dog {
  width: 744px;
  position: relative;
  margin-top: 44px;
  margin-right: 72px;
}

.dog-boarding__info {
  margin-top: 112px;
}

.hero-section__promises  .subtitle{
  color: var(--primary);
}

.hero-section__servises .subtitle{
  color: var(--primary);
}

.hero-section__servises{
  padding-top: 110px;
}

.column__card{
  width: 324px;
background: var(--neutral);
border-radius: 20px;
padding: 50px  45px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.column__card:hover{
  box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
}

.column__card .icon{
  margin-bottom: 33px;

}

.servises{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.servises .button{
  margin-top: 66px;
  margin-bottom: 113px;
}